<launch>

  <node pkg="rosserial_python" type="serial_node.py" name="serial_node" output="screen">
    <param name="port" value="/dev/ttyACM0" />
  </node>

  <include file="$(find raspicam_node)/launch/camerav2_410x308_30fps.launch">
    <arg name="camera_name" value="raspicam" />
  </include>

  <node pkg="mpu_6050_driver" type="imu_node.py" name="imu_node" output="screen">
  </node>
</launch>
